{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  <script src="{% static 'js/footer.js' %}"></script>
</head>
<footer class="footer">
  <div class="footer-row1">
    <div class="footer-row1-context1">
      <ul class="footer-row1-context1-item">
        Follow Us On
        <li><a href="https://www.facebook.com">Facebook</a></li>
        <li><a href="https://www.instagram.com">Instagram</a></li>
        <li><a href="https://www.twitter.com">Twitter</a></li>
        <li><a href="https://www.youtube.com">Youtube</a></li>
      </ul>
      <ul class="footer-row1-context1-item">
        About
        <li><a href="">Contact Us</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="https://www.naukri.com">Careers</a></li>
      </ul>
      <ul class="footer-row1-context1-item">
        More
        <li><a href="">Customer Support</a></li>
        <li><a href="">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-row1-context2">
      <ul class="footer-row1-context2-item">
        Registered Office Address-
        <li>
          xxx xxxxxx<br>
          Gurgram, Haryana<br>
          Pincode-XXXXXX<br>
          Tel-XXXXXXXXXX
        </li>
      </ul>
      <!-- <ul class="footer-row1-context2-item"></ul> -->
    </div>
  </div>  
  <div class="footer-row2">
    <div class="footer-row2-context1">
      <ul class="footer-row2-context1-item">
        <li><a href="terms-and-conditions.html">Terms & Conditions</a></li>
        <li>&copy; 2024 DemoWebsite.com</li>
      </ul>
    </div>
  </div>
</footer>