{% load static %}

<link rel="stylesheet" href='{% static "css/header.css" %}'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Noto+Sans+KR:wght@100..900&family=Playwrite+AU+VIC+Guides&family=Playwrite+CO+Guides&family=Rubik+Vinyl&display=swap" rel="stylesheet">
<header>
  <nav class='navbar'>
    <ul class="nav-links left-items">
      <li class="nav-item img"><a href="{% url 'home' %}"><img src="{% static 'img/websitelogo.png' %}" alt="websitelogo"></a></li>
      <li class="nav-item logo-name"><a href="{% url 'home' %}">Blog-Website</a></li>
    </ul>
    <ul class="nav-links mid-items">
      <li class="nav-item content"><a href="{% url 'home' %}">HOME</a></li>
      <li class="nav-item content"><a href="{% url 'blog' %}">BLOG</a></li>
      <li class="nav-item content"><a href="{% url 'thought' %}">THOUGHT</a></li>
    </ul>
    <ul class="nav-links right-items">
      <li class="nav-item content"><a href="{% url 'login' %}">LOGIN</a></li>
      <li class="nav-item profile-img"><a href="{% url 'profile' %}"><img src="{% static 'img/profileimg.svg' %}" alt="profile"/></a></li>
    </ul>

  </nav>
{#    <hr width="96%" align="center"/>#}
</header>